{% extends "layout.html" %}
{% block title %}
    Tweet IndexPage
{% endblock %}
{% block content %}
    <h1 class='text-center  mt-4'>Welcome to Django Tweet Project</h1>
    <h2>
        {% if form.instance.pk %}
        EditTweet
        {% else %}
        CreateTweet
        {% endif %}
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-warning">
                Submit
            </button>
        </form>
        <a href="{% url "tweet_list" %}">Back to tweet_list</a>
    </h2>
{% endblock %}